#banner1{
    height: 300px;
    background: #1C2E3D;
    color: #FFFFFF;
    background: url('../images/Banner 1.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    justify-content: center;
}
#banner2{
    height: 300px;
    background: #1C2E3D;
    color: #FFFFFF;
    background: url('../images/Banner 2.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    justify-content: center;
}