#cardContainer
{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* overflow-y: scroll; */
        margin-bottom: 40px; 
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
    
}
.card{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2.5rem;
        
     }
     .h-100 {
        height: 100%!important;
    }
.card-img-top {
        width: 100%;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
    }
.card-text{
       
       line-height: 21px;
       color: #848484;
        
     }
     
.card-title{

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        
        
        color: #1D1D1D;


     }
     .top-left {
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: x-large;
      }
/* Card.js Css */
.propertyCard{
        /* height: 509px;
        width: 398px;
        background: #FFFFFF; */
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px; */
        display: flex;
        margin-bottom: inherit;
    }
.propertyCardImg{
        height: 278px;
        width: 398px;
        display: block;
}
.propertyCardData{
        /* height: 230px; */
        width: 398px;
}
.card-footer{
        border-top: 1px solid #F4F4F4
    
    }

  
.propertyHeading{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        color: #1C2E3D;

   }

.fa-map-marker-alt{
           color:red;
           margin: 2px;
   }
.heart {
        
        box-shadow: -6px 11px 12px rgba(0, 0, 0, 0.134643);
        color: #FFFFFF;
  }
  .space{
        margin-top: 7px;
    }

    a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: none;
      }
      
      a:active {
        text-decoration: none;
      }