.emiheading{
  margin-bottom: 30px;
}
 .enquireheading{
      
   margin:30px 0px;
 }

.enquirecontainer{
  background: #FFFFFF;
border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px; 
padding: 10px;
}
.formborder{
background: #FFFFFF;
border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px; 
padding: 10px;
}


.formborder input[type="text"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 5px;
  
}
.formborder input[type="range"]{
  width: 100%;
  padding: 20px;
  
}
label{
  font-size: 1.3rem;
  font-weight: 500px;
}
input[type=range] {
-webkit-appearance: none;
margin: 18px 0;
width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 8.4px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
background: #BD0000;
border-radius: 1.3px;
border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
border: 1px solid #000000;
height: 36px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
-webkit-appearance: none;
margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #BD0000;
}
input[type=range]::-moz-range-track {
width: 100%;
height: 8.4px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
background: #BD0000;
border-radius: 1.3px;
border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
border: 1px solid #000000;
height: 36px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
}
input[type=range]::-ms-track {
width: 100%;
height: 8.4px;
cursor: pointer;
animate: 0.2s;
background: transparent;
border-color: transparent;
border-width: 16px 0;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #BD0000;
border: 0.2px solid #010101;
border-radius: 2.6px;
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
background: #BD0000;
border: 0.2px solid #010101;
border-radius: 2.6px;
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
border: 1px solid #000000;
height: 36px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
background: #BD0000;
}
input[type=range]:focus::-ms-fill-upper {
background: #BD0000;
}

.inputshow{
border:1px solid gray;
padding: 5px;
border-radius: 5px;
font-size: 1rem;

}

.inputrange{

/* border:1px solid gray;
padding: 15px;
border-radius: 5px;*/
}
.emiText{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

.emiContainer{
   margin: 0px;
}

#propertyPage{
/* background: #E5E5E5; */
}

.propIcons i{
 color:black;
 padding: 6px;
 font-size: inherit;
 box-shadow: none !important;
 font-size: 1.5rem;
}