.propertyheading{
    font-family: Rubik;
    font-style:bold;
    font-weight: 500;
    line-height:50px;
    /* identical to box height */
    text-align: center;  
    color: #111111;
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 70px; 
}   
.propertysubheading {
    font-weight: 500;
font-size: 14px;
line-height: 37px;
/* identical to box height */
letter-spacing: 2px;
text-align: center;
color: #8C8C8C;

}




.seemorebtn{
    background: #FFFFFF;
border: 1px solid #BD0000;
color: #BD0000;
box-sizing: border-box;
border-radius: 5px;
}

.actionButtonContainer{
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPropSelect{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #8C8C8C;
    margin-bottom:70px;
    margin-left:30px;  
    text-align:center;
}

.propertyCitySearch{
    font-weight:bold; 
    color: #000000;
}