@import url('https://fonts.googleapis.com/css?family=Robot|font-style=normal;');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');


   .main-header{
     padding:10px 25px;
     /* max-height:50px; */
     height: auto;
     overflow: visible;
     text-align: -webkit-right;
     border-bottom: 0.5px solid #DADADA;
     font-weight: bold;
     font-size: 16px;
     line-height: 16px;
     color: #4F4F4F;

   }
   .main-header i {
    /* background: #AA0000;
    color: #ffffff; */
    color: #AA0000;
    display: inline-block;
    padding: 0.5em 0.6em;
    margin: 0px 5px;
    border-radius: 50%;
    
    }

    .main-header  .fa-whatsapp{
      color:#0BA360;
    }
    .headertext{

      margin:0px;
      font-size:14px;
    }
    

    @media (max-width: 1025px) {
    .headertext{

      margin:0px;
      font-size:11px;
    }

    }
  .nav{
    justify-content: flex-end;
  }
  footer i{
    border-radius: 50%; 
  }

  .dropbtn {
  /* background-color: #4CAF50; */
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  button.dropbtn{
    background: none;
  }

  a:hover{
    color: #000000 !important;
  }

  button.dropbtn a{
    text-decoration: none;
    color: #000000;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  

  .navbar{
    padding: 0px;
  }

  .locationSpace{
    background: #F2F2F2;
  }

  .searchContainer{
    margin-top: 14px;
  }

  .btnToolContainer{
    justify-content: center;
    display: flex;
    margin: 15px;
  }

  .btnFullwidth{
    margin: 15px;
  }