/*home search
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik|font-style=normal;');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');



 .HomepageButtons{
    /* background: rgba(0, 0, 0, 0.6); 
    border-radius: 4px 4px 0px 0px !important;
    margin-left: -1px;
    border-radius: 0;*/
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    width:auto;
    height: auto;
    padding: 10px;

}
.buttonHomepage{

    min-width: 100px;
    border-radius:5px !important;
    color: #FFFFFF;
    background: transparent;
    border-color:transparent;
    box-shadow: none !important;
    padding: 8px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    /* width: 80px; */
    height: 50px;
}
.buttonHomepage:active, .buttonHomepage:hover,.buttonHomepage:focus{
    color: #BD0000;
    background-color: #ffffff;
    border-color:#ffffff;
    outline: none;
    border: none;
}
.buttonHomepageactive{
    color: #BD0000;
    background-color: #ffffff;
    border-color:#ffffff;
    outline: none;
    border: none;
}
.BuyButton{
    /* color: #BD0000;
    background-color: #ffffff; */
   
}

/* .RentButton{
    border-color:  transparent #FFFFFF ;
   }
.LeaseButton{
    border-color:  transparent #FFFFFF;
    }
.InvestButton{
   border-color:  transparent transparent transparent #FFFFFF;
   }

.btn-primary:not(:disabled):not(.disabled):active,.BuyButton :hover,.BuyButton :active,RentButton:hover,RentButton :active,
LeaseButton:hover,LeaseButton :active ,InvestButton:hover,InvestButton :active  {
    color: #BD0000;
    background-color: #ffffff;
    border-color: #ffffff;
} */


.searchContainer1 {
    display: inline-flex;
    flex: 1 ;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    width: calc(100% - 10px);
    border: none;
    height: 60px;
    border-radius: 4px  4px;
    font-size: 18px;
    text-overflow: ellipsis;
    float: left;
    padding: 0 0 0 12px;
    
    
  }
  
  .searchIcon1 {
    padding: 1rem 0.5rem;
    align-items: center;
    color: #72767D;
    
  }
  
  .searchBox1 {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
  }
  .btn-danger {
    color: #fff;
    background-color: #BD0000;
    border-color: #BD0000;
    
}
.btn-danger:active btn-danger:hover  {
    color: #fff;
    background-color: #BD0000;
    border-color: #BD0000;
    
}
  
  
  .searchButton1 {
    color: white;
    padding: 0.5rem;
    background: #BD0000;
    border: none;
    line-height: 40px;
    border-radius: 4px 0px;
  }


.searchContainer{
    /* display:inline-flex;
    flex: 1    */
}

.searchIcon{
   
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.SearchBar{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    /* width: calc(100% - 60px); */
    border: none;
    height: 60px;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    text-overflow: ellipsis;
    float: left;
    padding: 0 0 0 12px;
    flex: 1;
    display: flex;
}

.SearchButton{
    background: #BD0000;
    border: none;
   /* float: right;*/
    color: #fff;
    /* height: 52px;
    width: 52px; */
    line-height: 40px;
    border-radius:0px 4px 4px 0px;
    /* margin: 4px 4px 0 0;
    padding: 0 0 0 5px; */
     width: 20%;
}
.btn-primary:hover,
.SearchButton:hover{
    background: #BD0000;
    border: none;
   /* float: right;*/
    
}
.btn-primary:visited ,
.SearchButton:visited { 
    background: #BD0000;
    border: none;
   /* float: right;*/
}
.btn-primary:focus,
.SearchButton:focus { 
    background: #BD0000;
    border: none;
   /* float: right;*/
    color: #fff;
 }

 .btn-primary:hover,
.SearchButton:hover { 
    background: #BD0000;
    border: none;
   /* float: right;*/
    color: #fff;
 }
.SearchButton:active { 
    background: #BD0000;
    border: none;
   /* float: right;*/
    color: #fff;
 }

.Homefrantpage{
    background: url('../images/BG2.png');
    min-height: 636px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: fit-content;
    
}

.buttonContainer{
    padding-top: 200px;
    text-align: -webkit-center;
    text-align: center;
}

.searchform {
    /* This bit sets up the horizontal layout */
    display:inline-flex;
    flex-direction:row;
    width: 80%;
    
    /* This bit draws the box around it 
    border:1px solid grey;*/
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }
  
  .searchinput {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }
  
  .searchinput:focus{
    outline: none;
  }
  
  .nomargin{
      margin-left: 0px;
      margin-right: 0px;
  }

  .nopadding{
      padding-left: 0px;
      padding-right: 0px;
  }
  .fromgrp{
      width: 100%;
      margin-bottom: 0;
  }
  .containnerWrapper{
      margin-bottom:70px; 
  }

/*New things startes*/
#newThings {
    background: #F2F2F2;
    height: 486px;
    width: 100%;
}

.newThingsSubHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #8C8C8C;
    margin-bottom:13px;
    padding-top: 67px;  
    text-align: center;
}

.newThingsHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    /* identical to box height */
    color: #111111;
    margin-bottom:18px; 
    text-align: center;
}
.newThingsItem{
    width: 278px;
    height: 254px;
    background: #FFFFFF;
    border-radius: 5px;
    /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newThingsItemHeadText{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */
color: #000000;
text-align: center;
}
.newThingsItemsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.listYourProperty{
    background-repeat:no-repeat;
    background-image:url("../images/ListYourProperty.png"); 
}
.postYourReqd{
    background-repeat:no-repeat;
    background-image:url("../images/PostYourReqd.png");
}
.becomeAnAgent{
    background-image:url("../images/BecomeAnAgent.png");
    background-repeat:no-repeat; 
}
.listYourService{
    background-repeat:no-repeat;
    background-image:url("../images/ListYourServices.png"); 
}
.newThingsItemImage{
    height: 213px;
    width: 213px;
    background-position: center;
    margin: 0 auto;
    position: relative;
}
.plusCircle{
    background-image:url("../images/homeCircle.png");
    background-repeat:no-repeat; 
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 35px;
    right: 65px;
    padding: 19px;
}
.plus{
    background-image:url("../images/homePlus.png");
    background-repeat:no-repeat; 
    height: 25px;
    width: 25px;
}

.homeUpper{
    background-image:url("../images/homeUpper.png");
    background-repeat:no-repeat; 
    height: 70px;
    width: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 65px;
    right: 95px;
}
.homeDown{
    background-image:url("../images/homeDown.png");
    background-repeat:no-repeat; 
    height: 70px;
    width: 70px;
    position: absolute;
    top: 20px;
    left: 5px;
}
.serviceUpper{
    background-image:url("../images/4.png");
    background-repeat:no-repeat; 
    height: 70px;
    width: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 65px;
    right: 61px;
}
.serviceDown{
    background-image:url("../images/1.png");
    background-repeat:no-repeat; 
    height: 70px;
    width: 70px;
    position: absolute;
    top: 40px;
    right: 10px;
}
.rupeeContainer{
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 80px;
    right: 100px;
}
.rupee{
    background-image:url("../images/rupee.png");
    background-repeat:no-repeat; 
    height: 25px;
}

/*About Beeger
#aboutBeeger{
    height: 500px;
    width: 100%;
    background: #1C2E3D;
    color: #fff;
    background-image: url(../images/HomeSweetHome.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    background-size: 75% 55%;
}
.familyPaintingWall{
    background-image: url(../images/familyPaintingWallsTogether.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 10%;
    right: 200px;
    top: 120px;
}
.aboutBeegerInfo{
    margin-left: 88px;
}
.aboutBeegerHeading{
    padding-top:53px;
    margin-bottom:30px; 
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
    /* or 167% 
    color: #FFFFFF;
}
.aboutBeegerText{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* or 150% 
    color: #FFFFFF;
    width: 380px;
    margin-bottom: 20px; 
    text-align: left;
}
/*About Beeger*/
#aboutBeegru{
    height: auto;
    width: 100%;
    background: #1C2E3D;
    color: #fff;
    background-image: url(../images/HomeSweetHome.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    background-size: 65% 65%;
}
#aboutBeegru .container{
    padding-bottom: 100px;
}
.aboutBeegruHeading{
    padding-top:53px;
    margin-bottom:30px; 
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
    /* or 167% */
    color: #FFFFFF;
}
.aboutBeegruText{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.knowMoreSection{
  padding:30px;
}

.knowMoreButton{
    background: rgba(255, 255, 255, 0.1);
    color:white;
    border-radius: 4px;
    border:none;
    height: 41px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#aboutBeegru .video-react .video-react-big-play-button {


}
#aboutBeegru .video-react .video-react-big-play-button {
    font-size: 3em;
    /* line-height: 1.5em; */
    /* height: 1.5em; */
    /* width: 3em; */
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 0.06666em solid #fff;
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
    border-radius: 0.3em;
    transition: all 0.4s;
}
.FamilyPaintingWall{
    
    background-image: url(../images/familyPaintingWallsTogether.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 5%;
    
}
#findPropertiesNearBy{
    background: #F2F2F2;
    border-radius: 8px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.findPropHeading
{
    padding: 80px 0 80px 90px; 
    font-family: Roboto;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    color: #1C2E3D;
}
.bold{
    font-weight: bold;
}
.useMyLocation,.enterPincode, .or{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setLocation,.locationIconText{
    margin-top: 23px; 
}
.enterPincode input{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border:none;
    border-bottom: 1px solid #000;  
    color: #828282;
    background: #F2F2F2;
    padding: 25px 0 10px 0;
    width: 250px; 
}
.locationIcon i{
    font-size: 60px;
    padding: 0;
    color: #000;
}
.or{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    opacity: 0.4;
}
.findPropertynearyou{
    justify-content: center !important;
    background: #F2F2F2;
    height: 300px;
    align-items: center;
}
.findPropertynearyou h1{


ont-family: Roboto;
font-style: normal;
font-weight: bold;

line-height: 56px;
/* or 117% */


color: #1C2E3D;
/*Contact Us CSS */
}
#contactUs{
    /* height: 356px; */
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 18px 30px;
    /* margin: 40px 34px; */
    margin-bottom: 100px; 
}
.contactUsform{
    border-right: 1px solid #E0E0E0;
}
.textBoxHeading{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #576370;
    padding-bottom:10px; 
}
.headingTextBox{
    height: 34px;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 17px;
    min-width: 250px;
}
.contactUsRow{
    display: flex;
    flex-direction: row;
    /* height: 86px; */
}
.contactUs h6{
    margin-bottom:55px; 
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -1px;
    color: #080C1C;
    font-weight: bold;
}
.headingTextBox input{
    background-color: #F2F2F2;
    border: none;
    padding: 10px; 
    height: 32px;
    border-radius: 17px;
    font-size: 12px;
}
.contactUsRowColumn{
    /* margin-right:30px;  */
}
.submitForm{
    padding-right: 125px;
    border-right: 1px solid #E0E0E0;
}

.submitFormImage{
    background-image: url('../images/contactUsImage.png'); 
    height: 275px;
    width: 160px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.submitFormWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.button{
    height: 40px;
    background: #BD0000;
    border: 1px solid #BD0000;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50%;
   
}
.submitText{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    /* width: 303px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
input:focus{
    outline: none;
}
.contactUsButton{
    /* width: 299px; */
    height: 69px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /* margin-right: 12px; 
    margin-top: 64px;*/
    display: flex;
    justify-content: space-evenly; 
   
}


/* .contactUsButton span{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
/* font-size: 24px; 
line-height: 28px;
display: flex;
align-items: center;
letter-spacing: 1px;

color: #1C2E3D;

} */
/* .contactUsButtons{
    display: flex;
    margin-top: 82px;
    margin-left: -30px;
} */
.buttonSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
} 
 .buttonSpan i{
   /* height: 30px;
     width: 30px; */
    transform: scale(2);
    color: #BD0000;
}
.buttonSpanText{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    color: #1C2E3D;
} 

.searchFilterIcon{
    background: #FFFFFF;
    border: 0.7px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    height: 70px;
    margin: 0 10px 10px 0;
    min-width: 120px;
}

.searchFilterIcon  .unicode {
    font-size: 30px;
}
.searchButtons {
    display: flex;
    min-height: 300px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.searchFilterIcon  .unicode  i{
    padding: 0;
}
.searchFilters{
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: -2px 0;
    border-top: 1px solid #E0E0E0;
}
.headingType{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.divider{
    height: 80%;
    margin: 8px 30px;
    width: 2px;
    background: #E0E0E0;
}

.searchFilterIcon:hover{
    border: 1.5px solid #AA0000;
}
.searchFilterIcon:active{
    border: 1.5px solid #AA0000;
}
.searchFilterIcon:selected{
    border: 1.5px solid #AA0000;
}
.searchFilterIcon:visited{
    border: 1.5px solid #AA0000;
}

.bannerText{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 30px 0;
    margin: 0 auto;
    text-align: center;
}

.bannerTextHeading{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;
    
    color: #FFFFFF;
    height: 100px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.bannerSubText{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.newThingsItemWrapper{
    margin:20px; 
}
.newThingsItem.row {
    margin-right: 10px;
}

.propertyHeading{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1D1D1D;
    
}

.newProperties{
    margin-top: 40px;
}

.house{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 12px;
padding-left: 15px;
}

.space{
    margin-top: -7px;
}

.swft{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
}
.optiondiv{
    margin-top: -16px;
}
.options{
    /* background-color: white;
    color:#495057;
    height: 200px;
    overflow-x: scroll; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    width: 73%;
    height: 200px;
    overflow-x: scroll;
    opacity: 1;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(205, 209, 212) rgb(205, 209, 212) rgb(205, 209, 212);
    border-image: initial;
    border-top: none;
    background: white;
    transition: width 0.35s ease 0s;
    overflow: auto;
}
.options li{
    padding: 8px 16px;
    border-top: 1px solid rgb(205, 209, 212);
}
.options li:hover{
   background-color:  rgb(205, 209, 212);
}
.no-options{
    background-color: white;
    color:#BD0000;
    text-align: center;
}
.active{
    background-color: white;
    color: #BD0000;
}

