@import url('https://fonts.googleapis.com/css?family=Rubik|font-style=normal;');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

body, html {
  font-family:'Rubik';
  font-style: normal;
  font-weight: normal;
}
.Logo {
  background-image: url(../images/logo.png);
}
.navbar{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav{
  justify-content: flex-end;
}
.navbar-brand{
  margin-left: 1rem;
}
.navbar-white {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 55px;
  
}
.navbar-inverse .navbar-brand {
    color:black; 
}

ul.navbar-nav{
  justify-content: flex-end;
    flex: auto;
}
.navbar .navbar-nav > li > a {
  color:black;
}

.navbar .navbar-nav > li:active {
  color:#A40C75;
}
.nav1 a{
  color: #4B4D4F;
  text-transform: uppercase;
  text-align: center;

}
.nav1 a .hover{
  color:#A40C75;
}
.nav1 a.active{
  color:#A40C75  !important;
  background:white !important;
}
.nav2 .nav-link{
  color: #BD0000;
  text-align: center;
  
}
.navbar-toggler{
  color: black;
  background-color: #fff;
}
.nav-item{
  text-transform: uppercase;
}
 .navElement{
   padding: 25px;
 }
 .login{
   color:#AA0000;
   
 }
 .navbar-toggler {
  color: #AA0000;
  border-color:  #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(189, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.rowline{
  border-bottom: 1px solid #E0E0E0;
  margin-right: 0px; 
  margin-left: 0px;
  padding: 5px;
}

.dropdown-content{
  background-color: #FFFFFF !important; 
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px #FFFFFF;
    z-index: 5;
    cursor: pointer;
    width: 310px;
    opacity: 1;
    pointer-events: auto;
}

.dropdown-contentheading{
  font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;

color: #000000;

}


.dropdown-content span{
  font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 21px;

color: #000000;

}
.dropbtn{
  padding: 0px;
}




.square:before {
  content:"";
  position: absolute;
  left: 15px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  z-index:9999;
}
.square:after {
  content:"";
  position: absolute;
  left: 5px;
  top: -22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent #ffffff transparent;
  z-index:9998;
}
.square {
  top:20%;
  background: #ffffff;
  border: 8px solid #fffefe;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: center;
  position: absolute;
  margin: 0;
  top: 3.8em;
 
  z-index: 99999;
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #BD0000;;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.myBtn:hover {
  background-color: #555;
}
@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
}