
.plx-card {
  transition: all 600ms ease;
  /* max-width: 1100px; */
  max-width: auto;
  display: flex;
  position: relative;
  margin: 30px 0;
  /* filter: drop-shadow(0 1px 0.5rem rgb(217, 217, 224)); */
  border-radius: 4px;
  /* background-image:url("../images/property1.png"); */
  background: transparent;
  height: 561px;
}

.pxc-stopper {
    transition: all 600ms ease;
    height: 100%;
    /* width: calc(100%); */
    background: #FFF8;
    display: flex;
    position: absolute;
    z-index: 0;
    left: 100px;
    background-image:url("../images/property1.png");
    background-size: cover;
    border-radius: 5px;
    box-shadow: -6px 11px 12px rgba(0, 0, 0, 0.134643);
    padding: 10px;
  }

 .bronze .pxc-stopper {
    display: none;
  }
  @media screen and (max-width: 900px) {
    .pxc-stopper {
      left: 50px;
    }
  }
.pxc-subcard {
  transition: all 600ms ease;
  border-radius: 3px;
  background: #ffffff;
  width: 250px;
  margin: 250px 320px 40px 25px;
  z-index: 0;
  padding: 15px 25px 15px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: -6px 11px 12px rgba(0, 0, 0, 0.134643);

}
@media screen and (max-width: 700px) {
  .pxc-subcard {
    /* margin: 50px 200px 15px 15px; */
    margin: 220px 40px 75px -15px;
    padding: 30px 25px 20px;
    /* width: auto; */
    width: 150px;
    height: auto;
    flex: 1 0 auto;
    right:100px;
  }
  
}




p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#cardContainer
{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* overflow-y: scroll; */
        margin-bottom: 40px; 
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
}
.card{
  box-shadow: 0px ;
}
.Newcard{
  transition: all 600ms ease;
  /* max-width: 1100px; */
  max-width: auto;
  display: flex;
  position: relative;
  margin: 30px 0;
  /* filter: drop-shadow(0 1px 0.5rem rgb(217, 217, 224)); */
  border-radius: 4px;
  /* background-image:url("../images/property1.png"); */
  background: transparent;
  height: 561px;
  border: 0;
  box-shadow: 0px !important;
     }
.Newcard-text{
       
       line-height: 21px;
       color: #848484;
        
     }
     
.Newcard-title{

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        
        
        color: #1D1D1D;


     }

    #buttonshare {  
      border-radius: 30% 0% 0% 0%;
      background-color: white;
      color: #BD0000;
      box-shadow: -6px 11px 12px rgba(0, 0, 0, 0.134643);
      padding: 15px;
      font-size: x-large;
      position:absolute;                  
      bottom:0;                          
      right:0;                          
  } 

  #buttonheart{
    background: linear-gradient(180deg, #F093FB 0%, #F5576C 96.04%);
    color:white;
    box-shadow: 0px 15px 23px rgba(245, 87, 108, 0.5);
    padding: 15px;
    font-size:26px;
    position:absolute;  
    border-radius: 50%; 
      
  }

  .salebutton{
    background: linear-gradient(180deg, #2AF598 0%, #009EFD 100%);
    border-radius: 4px;
    border: 0px;
    margin-bottom: 5px;
    color: white;
  }

  .rentbutton{
    background: linear-gradient(180deg, #F093FB 0%, #F5576C 96.04%);
    border-radius: 4px;
    border: 0px;
    margin-bottom: 5px;
    color: white;
  }
  .investbutton{
    background: linear-gradient(180deg, #00C6FB 0%, #005BEA 98.06%);
    border-radius: 4px;
    border: 0px;
    margin-bottom: 5px;
    color: white;
  }

  .bhr{
    border-bottom: 1px solid gray;
    
  }
  .react-multiple-carousel__arrow--left {
    left: 0;
  }
  .react-multiple-carousel__arrow--right {
    right: 0;
  }
  .popicon{
    color: #BD0000;
    font-size: xx-large;
  }
  .popicon i{
 margin: 0.8rem;

  }