.labels {
    color: #666;
}

.heading{
    color: #BD0000;
    font-weight: 600;
font-size: 20px;
line-height: 21px;
letter-spacing: -1px;
margin: 20px 0px;

}

.started{

    background: #BD0000; 
    color: white;
    border: 5px;

}
Checkbox{
   
    size: 5px;
}

.propertyCardContainer{
    margin: 0 auto;
}

