.propertyListPageWrapper {
  padding: 30px 0px;
  background: #ffffff;
}
.propertyListPageWrapper .propertyType {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  min-height: 150px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.propertyListPageWrapper .propertyType .searchFilterIcons {
  background: #ffffff;
  display: flex;
  /*min-height: 150px;*/
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.searchFilterIcons .divicon{
  background: #bd0000;
color: #ffffff;
border-color: transparent !important;
}
.propertyListPageWrapper .placeSearch {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.propertyListPageWrapper .collection {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  
}
.propertyListPageWrapper .seachINline {
  display: inline-flex;
}

.propertyListPageWrapper .searchButtonss .button {
  background: #ffffff;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 18px;
  /* height: 30px; */
  width: 120px;
  margin: 0 5px 5px 0;
  padding:5px;
}
.propertyListPageWrapper .searchButtonss .button i{
  padding:5px;
}

.propertyListPageWrapper .searchButtonss .buttonText {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #555555;
}

.seachINline {
  background: #ffffff;
  border: 1px solid #d9dde7;
  box-sizing: border-box;
  border-radius: 5px;
  height: 36px;
  padding: 0 10px 0 0;
  margin-bottom: 10px;
}
.text {
  border: 0;
  width: 100px;
}
.h5 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #4f4f4f;
}
.buy {
  border-radius: 10px 0 0 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  border-color: transparent !important;
  color: #828282;
  width: 60px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 100px;
}
.rent {
  cursor: pointer;
  /*border-radius: 0 10px 10px 0;8*/
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background: #f2f2f2;
  color: #828282;
  border-color: transparent !important;
  width: 60px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

.btn.active {
  background: #bd0000 !important;
  color: #fff;
}

.buyAndRentWrapper {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyListPageWrapper .container {
  margin-bottom: 40px;
}
.ui-btn.ui-slider-handle {
  background: #ffffff;
  border: 1.5px solid #a40c75;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.ui-slider-bg.ui-btn-active {
  background-color: #bd0000 !important;
  border-color: #bd0000 !important;
  color: #fff !important;
  text-shadow: 0 1px 0 #bd0000 !important;
}

.textAndDropDown {
  display: inline-flex;
  border: 1px Solid #e0e0e0;
}
.textAndDropDown input {
  width: 80px;
  text-align: right;
  height: 45px;
  min-width: 93px;
}
.to {
  margin: 0 10px;
}
.textAndDropDownWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
  box-shadow: none;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited,
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  color: #596172 !important;
  font-weight: 100;
}
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  font-weight: 100 !important;
}
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  background-color: #ffffff;
  border: none;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #4f4f4f;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.sortByDropdown {
}

/* .{
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
} */

.searchTextPropertyListPage {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  justify-content: flex-start;
}
.searchTextPropertyListPage input {
  width: 400px;
  border: none;
}
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
  background-color: #fff !important;
  border-color: #ddd !important;
  color: #333 !important;
  text-shadow: 0 1px 0 #f3f3f3 !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0;
}

.propertyListPageWrapper .newPropSelect,
.propertyListPageWrapper .actionButtonContainer,
.propertyListPageWrapper .contactUsButtons {
  display: none;
}
.propertyListPageWrapper #contactUs {
  margin: 0;
}
body {
  background: #fff;
}
.buttonoptions {
  /* height: 120px; */
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: justify;
  padding:  25px;
}
@media (max-width:750px){

  .buttonoptions {
    padding: 0px;
  }
}

.rangeSlider {
        /* height: 120px; */
}
.form-label {
  font-size: 13px;
}

.btn-outline {
  border-color: transparent !important;
}

.buttongrp {
        /* height: 40px; */
        height: auto;
        background: #F2F2F2;
        color: black;
        border-color: transparent !important;
    }

.buttongrp:hover,.buttongrp:active,.buttongrp:selected,.buttongrp:visited{
        background: #bd0000;
    color: #ffffff;
    border-color: transparent !important;
}

.budget{
        background: #FFFFFF;
border: 1px solid #BDBDBD;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
padding: 10px;

}

.inputrange {
        /* border: 1px solid gray;*/
        margin:  0; 
        border:none;
        width: 90% !important;
}
.inputshow {
        /* border: 1px solid gray; */
        border:none;
}
.placeSearchBar{
  background: #FFFFFF;
border: 1px solid #D9DDE7;
box-sizing: border-box;
border-radius: 5px;
}

.placeSearch .from-control{
  border:none;
}
.searchFilterIcon .unicode i {
  padding: 5px;
}
.rangeSlider .input[type=range] {
  margin:  0; 
}

.active{
  background-color: white;
  color: #BD0000;
}