@import url('https://fonts.googleapis.com/css?family=Rubik|font-style=normal;');


ul li {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
#propertyTabs ul {
        margin-bottom: 75px; 
}
.progress-bar{
        background-color: #BD0000;
        border-radius: 10px; 
}
.progress{
        background: #E0E0E0;
        border-radius: 10px;
        width: 318px;
}

.progressBarKey{
        height: 22px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #111111;
}
.beegruScoreUl{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 400px;
        /* width: 80%;
        margin: 40px 65px 40px 22px; */
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
}
.beegruScore2Col{
        margin-right: 22px; 
}
.progressBarUpdate{
        height: 20px;
}
.beegruScoreUl .liWrapper{
        padding-bottom: 40px; 
}
.progressBarKey{
        margin-bottom: 15px; 
}

.propertAmenities{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        /* width: 80%; */
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        height: auto;
        min-height: 120px;
        padding-left: 0;
        /* margin-left: 32px; */
        flex-wrap:wrap; 
}

.propertAmenities .liWrapper{
        padding: 10px;
        border-right: 1px solid #E0E0E0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120px;
}
.unicode{
        font-size: 35px;
}
.propLocation{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 22px;
        /* width: 80%; */
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        /* margin-left: 32px; */
        margin-bottom:40px; 
}
.buttonPropLocation{
        background: #FFFFFF;
        border: 1px solid #BD0000;
        box-sizing: border-box;
        border-radius: 5px;
        width: 200px;
        height: 47px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #BD0000;
}
.locationTextWrapper{
        padding-left: 22px;
}

#propertyTabs h5{
        margin-left:32px; 
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        margin-bottom: 20px; 
        color: #111111;
}
.propertVicinity{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        /* width: 83%; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 365px;
 
}
.propertVicinity .liWrapper{
        width: 95%; 
        padding: 15px 10px;
        border: 1px solid #E0E0E0;
        border-radius: 10px;
        margin-bottom: 20px;
}
.propertVicinityWrapper{
        /* margin-left:32px;  */
}
.propertVicinityId{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #111111;
        padding-bottom:10px; 
}
.vicinityWrapper{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #111111;
}
.vicinityRowWrapper{
        min-height: 22px;
}
ul.navbar-nav{
        margin-bottom:0 !important; 
        display: flex !important;
        justify-content: flex-end !important;
}
#propertyTabs .navbar {
        margin-bottom: 30px !important; 
        margin:32px; 
}


.propGallaryWrapperData{
        display: flex;
        justify-content: space-between;
        margin: 32px;
}
.propName{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        /* identical to box height */
        letter-spacing: -1px;
        
        color: #080C1C;
        
}
.propAddress{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        
        color: #576370;
}
.propType{
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        
        color: #4F4F4F;
}
.propPrice{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;

        color: #080C1C;
}
.propPerSqft{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        
        color: #576370;
}

ul.propertyNavTabs{
        justify-content: flex-start !important;
}

.headingLine{
        
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
color:#111111;
}

.aboutLocationUl{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #576370; 
}
.aboutProjectUl{
        font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #576370;
      }

      .propIcons{
              display : flex;
      }