@import url('https://fonts.googleapis.com/css?family=Rubik|font-style=normal;');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



.testimonialcontainer{
  background: rgba(28, 46, 61, 0.6);
 /* background-image: url(../images/testimonialbg.png); */
 background: url(../images/testimonialbg.png);
 background-size: 100%;
 overflow: auto;
 padding: 30px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
}

.testimonialheading {
  padding-top: 250px;
  font-family: Rubik;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  justify-content:flex-start;
  color: #FFFFFF;
  text-align: center;
vertical-align: middle;
  
}
.testimonialheading p{
  font-weight: bolder;
  margin: 0;
}


.testimonialcard{

  background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 30px;
}

testimonialcardheading{
  font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
/* or 117% */


color: #FFFFFF;



}
.card{
  /* margin: 15px; */
}
.cardContainer{
   min-width: unset !important;
}

/* .cardBottom{
margin-bottom:40px !important;
} */

.react-multiple-carousel__arrow {
  border-radius:0px;
  /* margin-top: 180px; */
  background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
;
}
.react-multiple-carousel__arrow::before {
  font-size: 20px;
 color: black;
}
@media (min-width:750px){
  /* .react-multiple-carousel__arrow--right {
    right: calc(80% + 1px);
} */

}

.card-header i{
  padding: 0px;
  color: #A40C75;
}

testimonial-image{
 
    float: left;
    margin-right: 20px;
    background-image: url(../images/customer1.png);
    border: 1px solid gray;
  
  
}
.card-footer,.card-header{
  background-color:white;
  color: black;
  border-top: none;
  border-bottom: none;
}
.card-header date{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: right;

color: #A7B0B4;

}
.card-footer p{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

margin: 0;
color: #24282A;

}
.card-footer p1{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

margin: 0;
color: #A7B0B4;

}
.modal{
  background-color: transparent;
}

.modal-header{
/* background:rgba(0, 0, 0, 0.5); */
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
/* or 117% */

border-top-left-radius: 0rem; 
border-top-right-radius: 0rem; 
/* color: #FFFFFF; */
}
.modal .close{
  background: #FFFFFF;
border-radius: 50%;
/* color: #FF5406; */
}

.servicesText{
  font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 27px;
display: flex;
justify-content: center;
padding: 61px;
}