@import url("https://fonts.googleapis.com/css?family=Rubik|font-style=normal;");
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


.testimonialcontainer {
  /* background: rgba(28, 46, 61, 0.6);
 background-image: url(../images/testimonialbg.png);
 overflow: auto;
 padding: 30px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover; */
  background: url(../images/testimonialbg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  height: auto;
  overflow: auto;
}

.testimonialheading {
  font-family: Rubik;
  font-style: normal;

  font-size: 40px;
  text-align: center;
  justify-content: flex-start;

  color: #ffffff;
  padding-top: 20%;
}
.testimonialheading p {
  font-weight: bolder;
  margin: 0;
  align-items: center;
}

.testimonialcard {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

testimonialcardheading {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  color: #ffffff;
}
.card {
  margin: 15px;
}
.cardContainer {
  min-width: unset !important;
}

/* .cardBottom{
margin-bottom:40px !important;
} */
.card-deck {
  flex-flow: row wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.testimonialcontainer .react-multiple-carousel__arrow {
  border-radius: 0px;
  /* margin-top: 180px; */
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 5%;
}
.testimonialcontainer .react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: black;
}
.testimonialcontainer .react-multiple-carousel__arrow--right {
  /* right: calc(4% + 1px); */
  left: calc(12% + 1px);
}
@media (min-width: 750px) {
  /* .react-multiple-carousel__arrow--right {
    right: calc(80% + 1px);
} */
.testimonialcontainer .react-multiple-carousel__arrow {
    position: absolute;
    bottom: 2%;
  }
  .testimonialcontainer .react-multi-carousel-list {
    position: static;
    margin-bottom: 15%;
  }
}
.testimonialcontainer .react-multi-carousel-list {
  position: static;
  margin-bottom: 10%;
}
.card-header i {
  padding: 0px;
  color: #a40c75;
}

testimonial-image {
  float: left;
  margin-right: 20px;
  background-image: url(../images/customer1.png);
  border: 1px solid gray;
}
.card-footer,
.card-header {
  background-color: white;
  color: black;
  border-top: none;
  border-bottom: none;
}
.card-header date {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;

  color: #a7b0b4;
}
.card-footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  margin: 0;
  color: #24282a;
}
.card-footer .p1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  margin: 0;
  color: #a7b0b4;
}

/* .modal-header{
  background: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
/* or 117% */

/* border-top-left-radius: 0rem; 
border-top-right-radius: 0rem; 
color: #FFFFFF;
}
.modal .close{
  background: #FFFFFF;
border-radius: 50%;
color: #FF5406;
} */
*/ .servicesText {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  display: flex;
  justify-content: center;
  padding: 61px;
}

